include *.txt
include *.rst
include *.py
include sphinx_astropy_theme/__init__.py

# Non-python files.
recursive-include sphinx_astropy_theme *

# Extraneous files.
global-exclude .DS_Store
global-exclude *.pyc
