name: CI

on:
  pull_request:
  push:
    branches: [ main ]
    tags:
  workflow_dispatch:
  schedule:
    # Run every Sunday at 04:53 UTC
    - cron: 53 4 * * 0

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
      with:
        python-version: 3.9
    - name: Install
      run: |
        python -m pip install pip -U
        pip install .[test]
    - name: Run tests
      run: pytest astropy_sphinx_theme
