name: CI

on:
  pull_request:
  push:
    branches: [ main ]
    tags:
  workflow_dispatch:
  schedule:
    # Run every Sunday at 04:53 UTC
    - cron: 53 4 * * 0

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: 3.9
    - name: Install
      run: |
        python -m pip install pip -U
        pip install .[test]
    - name: Run tests
      run: pytest astropy_sphinx_theme
